# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
img

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

#*.exe

#main compiled app for testing
ponydownloader*

#here lies my derpiboo.ru key, I do not want to share
config.ini

#images that should not be git
*.png
*.jpeg
*.jpg

#No, there is no need to preserve event.log
event.log
